:root {
    --headerBannerColor: rgb(251, 253, 253);
    --fontStyle: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --pageColor1: rgb(251, 253, 253);
    --pageColor2: rgb(251, 253, 253);
}

* {
    color: black;
    background-color: rgb(251, 253, 253);
    text-decoration: none;
    list-style-type: none;
}

header {
    /* color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--headerBannerColor);
}

.introduction img {
    height: 300px;
    width: 300px;
}

.bannercolor {
    background-color: var(--headerBannerColor);
}

.headerBox {
    margin: 10px;
    /* color: black; */
    background-color: var(--headerBannerColor);
}

.headerBox h1 {
    background-color: var(--headerBannerColor);
}

.headerBoxLinks {
    margin-top: 50px;
    background-color: var(--headerBannerColor);
}

.headerBoxLinks ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--headerBannerColor);
}

.headerBoxLinks ul li {
    margin: 20px;
    background-color: var(--headerBannerColor);
    opacity: .8;
    transition: opacity 1s;
}

.headerBoxLinks ul li:hover {
    opacity: 1.0;
    background-color: var(--headerBannerColor);
}

.headerBoxLinks ul li a {
    /* color: black; */
    background-color: var(--headerBannerColor);
}

.headerBoxLink ul li a:hover {
    /* color: black; */
    background-color: var(--headerBannerColor);
}

.introduction {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolioLinksIntro {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.portfolioLinks {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-flow: row wrap;
    /* background-color: cornflowerblue; */
    border: 20px;
    border-color: aquamarine;
}

.portfolioLink {
    opacity: .5;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 20px solid black;
    transition: opacity 1s, border 1s;
}

.portfolioLink:hover {
    opacity: 1.0;
    border: 20px solid whitesmoke;
}

.portfolioTitleDiv {
    /* color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

p {
    /* color: black; */
    display: flex;
    justify-content: flex-start;
}

footer {
    background-color: var(--headerBannerColor);
}

footer h2 {
    background-color: transparent;
}

footer nav {
    background-color: transparent;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--headerBannerColor);
}

.footerLinks {
    /* color: black; */
    margin: 20px;
    background-color: var(--headerBannerColor);
    opacity: .5;
    transition: opacity 1s;
}

.footerLinks:hover {
    opacity: 1.0;
    background-color: var(--headerBannerColor);
}

.footerLinks a {
    background-color: var(--headerBannerColor);
}

@media(min-width:1300px) {
    .portfolioLinks {
        padding: 50px;
    }
}

@media(max-width:1000px) {
    .portfolioLinks {
        background-color: var(--pageColor1);
    }

    @media(max-width:800px) {
        * {
            background-color: var(--pageColor2);
        }

        p {
            background-color: var(--pageColor2);
        }

        body {
            background-color: var(--pageColor2);
        }
    }